/* *{
    box-sizing: border-box;
    font-family: sans-serif;
} */

/* button{
    background-color: #c2e8f6;
    margin-left: calc(50% - 35px);
} */

/* input {
    width: 240px;
} */

/* #loginButton{
    color: #18323d;
    font-weight: bold;
    height: 30px;
    margin-top: 5px;
    width: 70px;
} */

a {
    color: #18323d;
}

#loginForm{
    background-color: #18323d;
    border-radius: 3px;
    color: #c2e8f6;
    padding: 10px 30px 0;
    width: 300px;
}

#loginForm input{
    border: none;
    height: 30px;
}

#loginMessage{
    color: red;
    text-align: center;
}

main {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#test-info {
    text-align: center;
}